PORT=3001
MONGODB_URI=mongodb://localhost:27017/intranet
FIREBASE_PROJECT_ID=instituto-san-francisco
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
